<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatório</title>

  <link href="http://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

  <style>
    table {
      width: 100%;
    }

    th {
      text-align: left;
    }
  </style>

  <script>
    const PictureAsPdfIcon = require("@material-ui/icons/PictureAsPdf");
    
    
  </script>
</head>
<body class="bg-purple-300">
  <div class="m-8">
    <h1 class="text-3xl mb-8">Listagem de passageiros</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Número do voo</th>
          <th>Horário</th>
        </tr>
      </thead>
      <tbody>
        <% if (passengers.length > 0) { %>
          <% passengers.forEach(passenger => { %>
            <tr>
              <td><%= passenger.name %></td>
              <td><%= passenger.flightNumber %></td>
              <td><%= passenger.time %></td>
            </tr>
          <% }); %>
        <% } %>
      </tbody>
      <tfoot>
        <tr><td colspan="2"> <%=passengers.length%> passageiros </td></tr>
      </tfoot>
    </table>
    <div id="button-gerar_pdf" class="flex justify-center items-center w-full mt-8">
      <div class="bg-red-500 w-40 h-12">
        <a class="flex justify-center items-center w-full h-full" href="http://localhost:3333/pdf" target="_blank">Gerar arquivo PDF</a>
      </div>
    </div>
  </div>
</body>
</html>